.header {
  font-size: 20px;
  text-align: left;
  background-color: brown;
  color: aliceblue;
  margin: 10px;
  padding: 10px 10px 10px 278px;
}

.my-container {
  margin-top: 1em;
}

.image-div {
  margin: auto;
}

.img {
  display: block;
  padding: 30px;
}

.generator-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

h1 {
  font-size: xx-large;
}

p {
  font-size: large;
}

.mybtn {
  display: block;
  margin: auto;
  width: 50%;
}

a {
  text-decoration: none;
}

footer {
  background-color: cadetblue;
  margin-top: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.footer-list {
  display: inline-flex;
}

.footer-list-li {
  display: block;
  margin: auto;
  padding: 10px;
}

.footer-list-li a {
  display: block;
  text-align: center;
  color: aliceblue;
}
