.header {
  font-size: 20px;
  text-align: left;
  background-color: brown;
  color: aliceblue;
  margin: 10px;
  padding: 10px 10px 10px 278px;
}

.my-container {
  margin-top: 5em;
}

.img {
  display: block;
  padding: 30px;
}

h1 {
  font-size: xx-large;
}

p {
  font-size: large;
}
